*{
    font-family: 'Roboto Condensed', sans-serif;
}

.Bar{
display:flex;
flex-direction:row;
align-items: center;
}

.Search{
    flex-grow: 4;
    justify-content: center;
    text-align: center;
}

#input{
    border-radius: 25px;
    width:50vw;
    height:25px;
    
}

nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background-color: black;
    width:100%;
    overflow:hidden;
/*    transition: maxHeight 0.5s;*/
}

nav ul li{
    display: block;
    list-style-type: none;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: aliceblue;
}

#bg{
    background-color: lavender;
}

buttons{
    background-color: navy;
    padding-bottom: 10px;
}

.img-btn{
border-radius: 25px;
width:70%;
height:20%; 
border:none;
}
.s-btns {
    border:none;
    background: none;
}

.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
